Create AddressBook
Access AddressBook [All Contacts]
Add contact to address Book
Access a contact with specific last name, first name, email, phoneNumber, address
Remove contact from AddressBook
Move contacts between two addressBooks
Password XOR
Birthdays

To-do
---------
XOR
